<% layout('boilerplate') -%>
<h1>Ultimo Produto</h1>
<nav>
<a href="/novoproduto" >Novo produto</a>
<a href="/todosprodutos" >Todos </a>
</nav>

<form action="/cadprod/novo" method="post">
	<label for="nome" id="label-nomeProd">Nome do produto:<br>
		<input type="text" value="<%= ultimo.nome %>" id="nomeProd" name="nome" >
	</label>
	<label for="fabricante" id="label-fabricante">Nome da fabricante:<br>
		<input type="text" value="<%= ultimo.fabricante %>"id="fabricante" name="fabricante">
	</label>
		<label for="precoEntrada" id="label-precoEntrada">
		Preco para o Revendedor:<br>
		<input type="number" value="<%= ultimo.precoEntrada %>" min="0" step="1" required id="precoEntrada" name="precoEntrada">
	</label>
	<label for="precoSaida" id="label-precoSaida">Preço para o comprador:<br>
		<input type="number" min="0"value="<%= ultimo.precoSaida %>" required id="precoSaida" name="precoSaida">
	</label>
	<label for="validade" id="label-validade">Data de Validade:<br>
		<input type="date" id="validade" value="<%= ultimo.dataValidade %>" name="dataValidade">
	</label>
	<label for="obs" id="label-obs">Observação:<br>
		<textarea name="obs" value="<%= ultimo.obs %>" id="obs"><%= ultimo.obs %></textarea>
	</label>
<button>Salvar</button>	
</form>
